:root {
  --iris: #4D5AE5;
  --ocean: #404BBF;
  --navy-blue: #2E2F42;
  --green: #31D0AA;
  --slate: #434455;
  --light-slate: #8E8F99;
  --cornflower: #E7E9FC;
  --cloud: #F4F4FD;
  --navy-blue-modal: #2E2F42;
  --grey: #2E2F42;
  --white: #FFFFFF;
  --dairy: #FCFCFC;

  --font-family: "Roboto";
  --font-weight-regular: 400;
  --font-weight-medium: 500; 
  --font-weight-bold: 700; 
}

body {
  font-family: var(--font-family), sans-serif;
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;

  color: var(--slate);
  background-color: var(--white);
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover, a:focus {
  color: var(--ocean);
}

a.active {
  color: var(--ocean);
  text-decoration: underline;
}

li {
  list-style: none;
}

.text-header-large {
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  font-size: 56px;
  letter-spacing: 2%;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.text-header-medium {
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--navy-blue);

}

.text-header-small {
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: var(--navy-blue);

}

.text-small {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: 12px;
  letter-spacing: 4%;
  line-height: 14px;
}

.medium {
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 24px;
  color: var(--navy-blue);
}

.text-normal {
  font-style: normal;
}

.btn {
  border: none;
}

.button-text {
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  font-size: 16px;
  letter-spacing: 4%;
  line-height: 24px;
}

.link {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: 12px;
  letter-spacing: 4%;
  line-height: 16px;
  text-decoration: underline;
}

.font-white {
  color: var(--white);
}

.logo {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--iris);
}

.logo.studio {
  color: var(--navy-blue);
}

.logo.studio-light {
  color: var(--cloud);
}

.header {
  border: solid var(--cornflower);
}

.order-section {
  background-color: var(--navy-blue); 
}

.text-center {
  text-align: center;
}

.team-section {
  background-color: var(--cloud);
}

.order-btn {
  background-color: var(--iris);
  font-family: var(--font-family), sans-serif;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
}

.order-btn:hover, .order-btn:focus {
  background-color: var(--ocean);
}

.card {
  background-color: var(--white);
}

footer {
  background-color: var(--navy-blue);
  color: var(--white);
}

.color-slate {
  color: var(--slate);
}

.bg-navy-blue {
  background-color: var(--navy-blue);
}