:root {
  --iris: #4D5AE5;
  --ocean: #404BBF;
  --navy-blue: #2E2F42;
  --green: #31D0AA;
  --slate: #434455;
  --light-slate: #8E8F99;
  --cornflower: #E7E9FC;
  --cloud: #F4F4FD;
  --navy-blue-modal: #2E2F42;
  --grey: #2E2F42;
  --white: #FFFFFF;
  --dairy: #FCFCFC;

  --font-family: "Roboto";
  --font-weight-regular: 400;
  --font-weight-medium: 500; 
  --font-weight-bold: 700; 
}

h1,h2,h3,h4,h5,h6,p {
  margin:0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: var(--font-family), sans-serif;
  font-size: 16px;

  color: var(--slate);
  background-color: var(--white);
}

a, a:visited {
  text-decoration: none;
}

a:hover, a:focus {
  color: var(--ocean);
}

li {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.btn {
  border: none;
  display: block;
  min-width: 169px;
  height: 56px;
}

.container { 
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  width: 1158px; 
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navigation-links {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  align-items: center;
  display: flex;
}

.header-links {
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
}

.header-adress-links {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  gap: 40px;
}

.header-adress-links-item {
  display: flex;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address {
  font-style: normal;
}

.text-header-large {
  font-family: var(--font-family);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.text-header-medium {
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.text-header-small {
  font-weight: var(--font-weight-medium);
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: var(--navy-blue);
}

.text-small {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: 12px;
  letter-spacing: 4%;
  line-height: 14px;
}

.regular {
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 24px;
  color: var(--navy-blue);
}

.our-points-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.our-points-list-item {
  max-width: calc((100% - (24px*3)) / 4);
}

.ur-points-list-item-img {
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
  border-radius: 4px;
  margin-bottom: 8px;
  background-color: var(--cloud);
  border: 1px solid var(--light-slate);
}

.our-points-list-item-header {
  margin-bottom: 8px;
}

.points-section-text-regular {
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 24px;
  color: var(--navy-blue);
}

.team-section-text-regular {
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 24px;
  color: var(--navy-blue);
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-list-item-text {
  padding: 32px 0;
  flex-grow: 1;
}

.team-list-item-social {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  transition-duration: 300ms;
  margin-top: 8px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.team-list-item-social-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--iris);
  padding: 12px;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-item-social-svg:hover {
  background-color: var(--ocean);
}

.team-list-item-social-svg:focus {
  background-color: var(--ocean);
}

.team-list-item-social-svg:active {
  background-color: var(--ocean);
}

.social-svg {
  fill: var(--cloud);
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-list-name {
  text-align: center;
  margin-bottom: 8px;
  font-weight: var(--font-weight-medium);
}

.team-list-position {
  text-align: center;
}

.team-link {
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 100%;
  height: 100%;
  background-color: var(--iris);
}

.portfolio-section-text-regular {
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 24px;
  color: var(--navy-blue);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px; 
  row-gap: 48px;
}

.portfolio-list-item {
  overflow: hidden;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.portfolio-list-item:hover {
  box-shadow: 
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .overlay {
  display: block;
  transform: translateY(0);
}

.portfolio-card-img {
  position: relative;
  overflow: hidden;
}

.overlay {
  display: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: var(--iris);
  color: #fbdfdf;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5; 
  letter-spacing: 0.02em;
  color: var(--cloud);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-item-name {
  margin-bottom: 8px;
  font-weight: var(--font-weight-medium);
}

.footer-text-regular {
  max-width: 264px;
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 24px;
  color: var(--navy-blue);
}

.header-address-regular {
  display: block;
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 24px;
  color: var(--navy-blue);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.medium {
  font-weight: var(--font-weight-medium);
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 24px;
  color: var(--navy-blue);
}

.header-menu-item {
  position: relative;
  display: block;
  font-weight: var(--font-weight-medium);
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 24px;
  padding: 24px 0;
  color: var(--navy-blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active {
  text-decoration: none;
  color: var(--ocean);
}

.active::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: var(--ocean);
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.font-normal {
  font-style: normal;
}

.button-text {
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  font-size: 16px;
  letter-spacing: 4%;
  line-height: 24px;
}

.link {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: 12px;
  letter-spacing: 4%;
  line-height: 16px;
  text-decoration: underline;
}

.font-white {
  color: var(--white);
}

.logo {
  display: inline-block;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
  color: var(--iris);
}

.logo-footer {
  display: inline-block;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
  margin-bottom: 16px;
  color: var(--iris);
}

.logo-studio {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--navy-blue);
}

.logo-studio-light {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--cloud);
}

.order-section {
  background-color: var(--navy-blue); 
  padding: 188px 0 188px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-name.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-section-header {
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.text-center {
  text-align: center;
}

.team-section {
  background-color: var(--cloud);
  padding: 120px 0;
}

.order-btn {
  background-color: var(--iris);
  font-family: var(--font-family), sans-serif;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  padding: 16px;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:hover, .order-btn:focus {
  background-color: var(--ocean);
}

.card {
  background-color: var(--white);
}

.footer {
  padding: 100px 0;
  background-color: var(--navy-blue);
  color: var(--white);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-social {
  margin-right: 80px;
}

.footer-social-media {
  font-weight: var(--font-weight-medium);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px
}

.footer-social-icons {
  display: flex;
  gap: 16px;
  margin-top: 16px;
  justify-content: center;
  align-items: center;
  transition-duration: 300ms;
}

.footer-social-icons-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--iris);
  width: 40px;
  height: 40px;
  margin-bottom: 42px;
  transition: background-color 300ms ease-in-out;
}

.footer-social-icons-svg:hover,
.footer-social-icons-svg:focus,
.footer-social-icons-svg:target,
.footer-social-icons-svg:active {
  background-color: var(--green);
}

.footer-social-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-svg:hover,
.footer-social-svg:focus,
.footer-social-svg:target,
.footer-social-svg:active {
  background-color: var(--green);
}

.footer-social-icons svg {
  width: 24px;
  height: 24px;
}

.footer-company {
  margin-right: 120px;
}

.footer-subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
}

.footer-subscribe-form {
  display: flex; 
  flex-wrap: wrap;
  gap: 24px;
}

.footer-subscribe-input {
  width: 264px;
  height: 40px;
  border: 1px solid var(--white);
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white);
}

.footer-subscribe-input::placeholder {
  color: var(--white);
}

.footer-subscribe-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center; 
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;

}

.subscribe-svg {
  margin-left: 16px;
}

.color-slate {
  color: var(--slate);
}

.color-cloud {
  color: var(--cloud);
}

.color-light-slate {
  color: var(--light-slate);
}

.bg-navy-blue {
  background-color: var(--navy-blue);
}

.mb-24 {
  margin-bottom: 24px;
}

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%; 
  background-color: #fff;
  background: var(--dairy);
  border-radius: 4px;
  box-shadow:
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  width: 408px;
  min-height: 584px;
  overflow-y: auto;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%); 
  padding: 72px 24px 24px 24px;
}

.modal-header {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--grey);
}

.modal-inputs {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8px;
}

.modal-inputs-comment {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 16px;
}

.modal-inputs-checkbox {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: px;
}

.modal-textarea {
  width: 100%;
  height: 120px; 
  font-size: 12px;
  line-height: 1.17; 
  letter-spacing: 0.04em; 
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent; 
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: var(--iris);
}

.modal-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.modal-checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center; 
  fill: transparent;

}

.modal-label{
  text-align: left;
  display: block;
  width: 100%;
  margin-bottom: 4px;
  color: rgba(142, 143, 153, 1);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.modal-label:focus-within {
  color: var(--iris);
}

.modal-btn {
  position: absolute;
  top: 24px; 
  right: 24px;
  width: 24px;
  height: 24px; 
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1); 
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--ocean);
  border: none;

}

.modal-close-btn-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .modal-close-btn-svg,
.modal-btn:focus .modal-close-btn-svg {
  fill: #ffffff
}

.modal-input {
  margin-top: 4px;
  padding-left: 38px;
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox {

}

.modal-checkbox:checked + .modal-checkbox-label .modal-checkbox-span {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);

}

.input-block {
  position: relative;
  width: 100%;
  margin-bottom: 8px;
}

.input-svg {
  position: absolute;
  left: 16px;
  top: 50%; 
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

textarea.modal-input {
  height: 120px;
  resize: none;
}

.modal-input:focus {
  outline: none;
  border: 1px solid var(--iris);
}

.modal-input:focus + .input-svg {
  color: var(--iris);
  fill: var(--iris);
}

.policy-link {
  color: var(--iris);
}

.modal-submit-btn {
  display: block; 
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  background-color: var(--iris);
  border: none; 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}